@using WebShoppingCart_1A.Controllers

@{
    ViewData["Title"] = "index";
    var products = ViewData["products"] as List<Product>;

}
<nav class="navbar navbar-light bg-light">

    <form method="get" class="form-inline " asp-controller="Product" asp-action="Search">
        <p>
            <input type="Search" placeholder="Search" class="form-control mr-sm-2 justify-content-center" name="keyword" aria-label="Search" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="Submit" value="Submit">Search</button>
            <button class="btn btn-outline-success my-2 my-sm-0" asp-action="Index">Get all products</button>
        </p>
    </form>
</nav>
<br />

<div class="container">
    <div class="row">
        @foreach (var product in products)
        {

            <div class="col-sm-4">
                <div class="" card-deck"">
                    <a href="https://localhost:44361/Product/Detail?productid=@product.Id">
                        <img class="card-img-top d-block w-100" style="height:300px"
                             src=@product.imageURL usemap="#photo">
                    </a>
                    <form method="get" asp-action="Detail" asp-controller="Product">
                        <map name="photo">
                            <area href="@product.Id">
                        </map>
                    </form>
                    <div class="card-body">
                        <a href="https://localhost:44361/Product/Detail?productid=@product.Id" style="color:black;font-weight:bold">@product.productName</a>

                        <input class="card-text" type="hidden" name="productId"><br />
                        @for (var i = 0; i < product.productRating; i++)
                        {
                            <img src="~/images/onestar.png" style="height:20px; width:20px;" />
                        }
                    </div>
                        <div class="card-footer">
                            <h5 class="card-title text-center">@product.unitPrice.ToString("c")</h5>
                            <div class="text-center">
                                <input type="button" name="AddToCart" value="Add to Cart" method="get" itemid="@product.Id" onclick="AddToCart(this)" />

                            </div>
                        </div>
                </div>
            </div>
        }
    </div>
</div>

@*@foreach (Product product in products)
    {

        <div>
            <span>@product.productName</span>
        </div>
        <img src="@product.imageURL" height="100">
        <div>
            <span>@product.unitPrice</span>
        </div>
        <div>
            <span>@product.productDescription</span>
        </div>
        <div>
            <input class="AddToCartBtn" type="submit" value="ADD TO CART" />
        </div>
        <input type="hidden" value="@product.Id" name="id" />
    }*@


<script type="text/javascript">
    function AddToCart(item) {
        var itemId = $(item).attr("itemid");
        var formData = new FormData();
        formData.append("ItemId", itemId);

        $.ajax({
            async: true,
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            url: '/Product/AddToCart',
            success: function (data) {

            },
            error: function () { alert("Error"); }
        });
    }
</script>

@*pagegation*@
<br />
<br />
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">2</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">3</a></li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js"></script>
