@{
    ViewData["Title"] = "index";
    var products = ViewData["products"] as List<Product>;

}

@foreach (Product product in products)
{
    <form asp-controller="Cart" asp-action="AddToCart">
        <div>
            <span>@product.productName</span>
        </div>
        <img src="@product.imageURL" height="100">
        <div>
            <span>@product.unitPrice</span>
        </div>
        <div>
            <span>@product.productDescription</span>
        </div>
        <div>
            <input type="submit" value="ADD TO CART" />
        </div>
        <input type="hidden" asp-for="@product.Id" name="id" />
    </form>
}
