@using System.Globalization;
@{
    ViewBag.Title = "Cart";
    var cartList = ViewData["cartList"] as List<Cart>;
    float totalAmount = 0;
    User user = ViewData["user"] as User;
    foreach(Cart cart in cartList)
    {
        totalAmount += cart.Product.UnitPrice * cart.Quantity;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shopping Cart</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/cart.css" />
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container-fluid">
            <div class="navbar-header" style="position:absolute">
                <a class="navbar-brand" href="#">Shopping Cart</a>
            </div>
            <ul class="nav navbar-nav navbar-left" style="position:relative;left:180px;">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Hello @(user!=null?user.Username:"")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Gallery">Continue Shopping</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="checkout">Check Out</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                        <span style="font-size:20px;color:white;">
                            TotalAmount(SGD):@totalAmount
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="purchases">
        <table class="table table-striped" style="margin: 100px auto 30px;">
            <tbody>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Name&Desc</th>
                    <th>Price(SGD)</th>
                    <th>Quantity</th>
                    <th>Subtotal(SGD)</th>
                </tr>
            </thead>
            @foreach (Cart cart in cartList)
            {
                <tr>
                    <td style="width: 150px;">
                        <img style="width: 70%;border-radius: 80px;opacity: 0.8;" src="@cart.Product.Photo" />
                    </td>
                    <td style="vertical-align:middle;">
                        <div>@cart.Product.Name</div>
                        <div>@cart.Product.Description</div>
                    </td>
                    <td style="vertical-align:middle;">@cart.Product.UnitPrice</td>
                    <td style="vertical-align:middle;">
                        <div class="form-group" style="width:100px;margin:auto;">
                            <input type="number" value="@cart.Quantity" onchange="changeQty(this)" class="form-control input-sm" style="width:100%">
                            <input type="hidden" value="@cart.Id" />
                        </div>
                    </td>
                    <td style="vertical-align:middle;">@(cart.Product.UnitPrice*cart.Quantity)</td>
                </tr>
            }

            </tbody>
        </table>
    </div>







</body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/cart.js"></script>

